In [ ]:
Interger
Float
String
Combinational
Lists---> Nested List

In [1]:
cust_info = ["Soumavo", 30, "India", 10000, 500, "2GB"]
type(cust_info)

list

In [2]:
cust_info_1 = ("Soumavo", 30, "India", 10000, 500, "2GB", 28)
type(cust_info_1)

tuple

In [6]:
len(cust_info)

6

In [7]:
len(cust_info_1)

7

In [8]:
# Nested list: List within a list

list1 = ["Soumavo", 30, "Kolkata", 10000, 500, "2GB", 'East Bengal', ['Brazil', 'MANUnited']]
len(list1)

8

In [9]:
list1[1] # Also known as Indexing

30

In [10]:
type(list1[1]) # 30

int

In [11]:
type(list1[0]) # "Soumavo"

str

In [12]:
list1 [7][1] # list1 [7][-1] # Also known as Slicing

'MANUnited'

In [13]:
list1 [7][0]  # list1 [7][-2] # Also known as Slicing

'Brazil'

# List concat

In [14]:
list1 = ["Soumavo", 30, "India", 10000, 500, "2GB", 'East Bengal', ['Brazil', 'MANUnited']]
list2= ["Swarnali", 27, "UP", 20000, 350, "1GB", ['UP','Barca']]

In [15]:
list3 = list1 + list2

In [16]:
len(list3)

15

In [17]:
list3

['Soumavo',
 30,
 'India',
 10000,
 500,
 '2GB',
 'East Bengal',
 ['Brazil', 'MANUnited'],
 'Swarnali',
 27,
 'UP',
 20000,
 350,
 '1GB',
 ['UP', 'Barca']]

In [18]:
list3[14][0]

'UP'

In [19]:
list3[-1][-1]

'Barca'

In [20]:
list3 = [1,2,3,4]
list4 = [5,6,7,4]

In [21]:
list5 = list3 + list4
list5

[1, 2, 3, 4, 5, 6, 7, 4]

In [22]:
# membership in list - whether that mentioned element is presnt or not

list6 = [1,2,3,4]
print(1 in list6)
print(6 in list6)

True
False

# Mutability

In [23]:
list_sub1 = ['beng', 'eng', 'math', 'bio']
list_sub1

['beng', 'eng', 'math', 'bio']

In [24]:
list_sub1[-1]

'bio'

In [25]:
list_sub1[-1] = 'phy'

In [26]:
list_sub1 #'bio' replaced by 'phy'

['beng', 'eng', 'math', 'phy']

In [27]:
#extend() fn -----> it extends the list

list1 = [1,2,3,4]
list1.extend([5,6])
list1

[1, 2, 3, 4, 5, 6]

In [28]:
#append() fn -----> it extends the list, but as nested
list2 = [5,6,7,8]
list2.append([4,9])
list2

[5, 6, 7, 8, [4, 9]]

In [29]:
#del command

list1 = [1,2,3,4]
del list1[2]
list1

[1, 2, 4]

In [30]:
# Pop() ---> deletes the obejct based on index value.
list2 = [5,6,7,8]
list2.pop(0)
list2

[6, 7, 8]

In [31]:
# pop() ---> if value is not defined then it will delete the last element

list2 = [5,6,7,8] 
list2.pop()
list2

[5, 6, 7]

In [32]:
#remove ---> works on particualr value

list3 = [1,2,3,4]
list3.remove(2)
list3

[1, 3, 4]

In [35]:
#sorting ---> ascending order

a = [9,6,5,7]
a.sort()
a

[5, 6, 7, 9]

In [36]:
# descending order

a.sort(reverse = True) 
a

[9, 7, 6, 5]

# Differnce between sort & sorted

In [37]:
#sort will change the old one to new one

a = ["Soumavo", "Dhoni", "Virat", "Zaheer"]
a.sort()
a

['Dhoni', 'Soumavo', 'Virat', 'Zaheer']

In [38]:
#sorted will create a new statement along with old one

a = ["Soumavo", "Dhoni", "Virat", "Zaheer"]
b = sorted(a)
print(a)
print(b)

['Soumavo', 'Dhoni', 'Virat', 'Zaheer']
['Dhoni', 'Soumavo', 'Virat', 'Zaheer']

# Shallow Copy

In [39]:
a = ['Soumavo', 'Dhoni', 'Virat', 'Zaheer']
b = a
print (a)
print (b)

['Soumavo', 'Dhoni', 'Virat', 'Zaheer']
['Soumavo', 'Dhoni', 'Virat', 'Zaheer']

In [40]:
a.pop(0)

'Soumavo'

In [41]:
# if we delete one element from (a) it will be deleted from (b) as well, because it is mentioned a=b

print(a)
print(b)

['Dhoni', 'Virat', 'Zaheer']
['Dhoni', 'Virat', 'Zaheer']

In [47]:
#it will be pre assigned for (d)

c = ['Smith','warner','cummins', 'lee']
d = c[1:3]
print(d)

['warner', 'cummins']

In [48]:
# in that case (c) will be remain untouced 

print(c)

['Smith', 'warner', 'cummins', 'lee']

# Problem statement

1. Split the string input_str = "Soumavo_Dutta_06" to the person's second name. first name and unique customer code. In this exmp, second_name = 'dutta', first_name = 'Soumavo', birth_date = '06'.                                               A sample output of the input 'Soumavo_dutta_06 is:

In [49]:
input_str = "Soumavo_Dutta_06"

In [50]:
input_str

'Soumavo_Dutta_06'

In [51]:
str1 = input_str[0:7]
str1

'Soumavo'

In [52]:
str2 = input_str[8:13]
str2

'Dutta'

In [53]:
str3 = input_str[14:16]
str3

'06'

In [54]:
input_str = "Soumavo_Dutta_06"
print(input_str[0:7])
print(input_str[8:13])
print(input_str[14:16])

Soumavo
Dutta
06

In [56]:
#split method

input_str = "Soumavo_Dutta_06"
list1 = input_str.split('_')
list1

['Soumavo', 'Dutta', '06']

In [57]:
print(list1[0])
print(list1[1])
print(list1[2])

Soumavo
Dutta
06

2. list_10 is [ 2,33,55, 67]. what is list_10 [-5]?

In [59]:
list_10 = [2,33,55,67]
list_10

[2, 33, 55, 67]

In [61]:
list_10[-4] # [-5] will give out of range

2

In [64]:
word = ['1', '2', '3', '4']
word

['1', '2', '3', '4']

In [67]:
word[:] = []
print(word)

[0]

In [68]:
sub = ['SAS', 'R', 'Python', 'Tableau']
print(sorted(sub))
print(sub)

['Python', 'R', 'SAS', 'Tableau']
['SAS', 'R', 'Python', 'Tableau']

In [70]:
sub.sort(reverse = True)
print(sub)

['Tableau', 'SAS', 'R', 'Python']


3. Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place. 
Sample Input: ['SAS', 'R', 'PYTHON', 'SPSS']  Sample Output: ['SAS', 'R', 'PYTHON', 'SPARK']

In [72]:
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']


4. Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be: "Pythons syntax is easy to learn & Pythons syntax is very clear"
[Note that there is a space on both sides of '&' (as usual in English sentences)]

In [74]:
Py_list1 = 'Pythons syntax is easy to learn'
Py_list2 =  'Pythons syntax is very clear'
py_list3 = Py_list1 + ' & '+ Py_list2
print(py_list3)

Pythons syntax is easy to learn & Pythons syntax is very clear


5. How will I extract Python from the nested list
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [76]:
input_list10 = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list10[2][0]

'Python'