# Tuples

1. Tuples are order sequence of mixed data types
2. Tuples are written in comma seperated eleents within parenthesis

In [1]:
t = (1,2,3,4,5)
type(t)

tuple

In [2]:
print(t)

(1, 2, 3, 4, 5)

In [3]:
t1 = 'hello', 5, 8.9

In [4]:
type(t1)

tuple

In [5]:
len(t1)

3

In [6]:
t2 = 8, 'Hiii', 9.0

In [7]:
type (t2)

tuple

In [8]:
t3 = t1 + t2
print(t3)

('hello', 5, 8.9, 8, 'Hiii', 9.0)

In [9]:
len(t3)

6

In [10]:
t4 = 8, 'Hiii', 9.0, (8,6) # nested tuple

In [11]:
t4

(8, 'Hiii', 9.0, (8, 6))

In [12]:
t5 = (8, 'Good', 9.0, [8,6,5])
print(type(t5))

<class 'tuple'>

In [13]:
print(type(t5[3]))

<class 'list'>

In [14]:
type(t5[3])

list

In [15]:
soumavo = t5[3] # soumavo is just a variable

In [16]:
type(soumavo)

list

In [17]:
soumavo[1] # from the list [8,6,5]

6

In [18]:
t5

(8, 'Good', 9.0, [8, 6, 5])

In [19]:
t5[3][0]

8

Tuple can be defined in various ways

In [20]:
t1 = 1,2,3,4,5,6
print(t1)
print(type(t1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [21]:
t2 = 8.9
type (t2)

float

In [22]:
t2 = 8.9,
type (t2)

tuple

In [23]:
#single value tuple

t3 = 1,   # if We write this same value without comma (1), it will the type as INT. 
print(t3)
type(t3)

(1,)

tuple

Indexing in tuple

In [24]:
t = ("Kolkata", 10, "Python", 100, "Delhi")
t

('Kolkata', 10, 'Python', 100, 'Delhi')

In [25]:
t [0:3]

('Kolkata', 10, 'Python')

In [26]:
t [1: ]

(10, 'Python', 100, 'Delhi')

In [27]:
t [ : 2]

('Kolkata', 10)

In [28]:
str1 = "Hello World"

In [29]:
str1

'Hello World'

In [30]:
str1[6 : ]

'World'

In [31]:
str1[3 : 9]

'lo Wor'

Slicing in tuple

In [32]:
# Slicing first 2 in tuple 
t1 = ("Mumbai", 20, "SQL", 800, "Chennai")
t1 [0:2]

('Mumbai', 20)

In [33]:
# Slicing last 2 in tuple 

t1 [-2 :]

(800, 'Chennai')

In [34]:
# concatination of 2 tuples

t = ("Kolkata", 10, "Python", 100, "Delhi")
t1 = ("Mumbai", 20, "SQL", 800, "Chennai")
t2 = t + t1
t2

('Kolkata', 10, 'Python', 100, 'Delhi', 'Mumbai', 20, 'SQL', 800, 'Chennai')

In [35]:
# min, max , sum fn

l7 = 6, 45, 34, 72, 9.5
print (sum(l7))
print (min(l7))
print (max(l7))

166.5
6
72

In [36]:
r = (2,4,6, 'Hello') # it won't be possible because it has int & str both, so sum operation is not possible
sum (r)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
tup1 = (1,3,5,7, "GGMU", (5,7,8), " Champ", ('E', 'T', 'H'))
tup1

(1, 3, 5, 7, 'GGMU', (5, 7, 8), ' Champ', ('E', 'T', 'H'))

In [38]:
tup1 [7][0]

'E'

In [39]:
tup1 [-1][-3]

'E'

Tuple is non mutable whereas list is mutable

In [40]:
list1 = ['soumavo', 'somavo', 'bibek', 'virat']
list1 [3] = 'mahi'
print(list1)

['soumavo', 'somavo', 'bibek', 'mahi']

In [41]:
tup2 = ('soumavo', 'somavo', 'bibek', 'virat')
tup2 [3] = 'mahi'
print(tup2)

TypeError: 'tuple' object does not support item assignment

# Tuple = Name, DOB, Place of birth, Fathers name, Mothers name etc.

# List = Relationship status, Current locataion, Phone number, last working Org. etc

In [42]:
tup = ("Hello","welcome", 5,10, "world", "of", "Soumavo")
tup

('Hello', 'welcome', 5, 10, 'world', 'of', 'Soumavo')

In [43]:
tup[0:2]

('Hello', 'welcome')

In [44]:
tup[4:7] # also [-3:] will also work

('world', 'of', 'Soumavo')

In [45]:
new_tup = tup[0:2] + ('to', 'the') + tup[4:7]
print(new_tup)

('Hello', 'welcome', 'to', 'the', 'world', 'of', 'Soumavo')

In [46]:
len(new_tup)

7

Ques 1.) slice the 'S' from the below tuple

In [47]:
u = ("SoumavoS20", 5, 6, 8.9)
u [0][7]

'S'

# Tuple sorting

*** If you have tuple, convert this into list, then sort it, then again convert this into tuple by type casting.

In [48]:
t = (2,3,5,6,9)
new_var = sorted(t)
print(new_var)
print(type(new_var)) # sorrted output is a list

[2, 3, 5, 6, 9]
<class 'list'>

In [49]:
new_list = sorted(t) # converted into list
t

(2, 3, 5, 6, 9)

In [50]:
# type casting

t2 = tuple (new_list)

In [51]:
# t was tuple initially, then it became list, and this became tuple by type casting

t2

(2, 3, 5, 6, 9)

In [52]:
j = (9,7,5,3)
j_new = sorted(j)
print(j_new)
print(type(j_new))

[3, 5, 7, 9]
<class 'list'>

In [53]:
j2 = tuple(j_new)

In [54]:
j2

(3, 5, 7, 9)

In [55]:
type(j2)

tuple

In [56]:
#nested tuples

l = (1,4,"hello", "Zep", ("Java", "Python"))

In [57]:
l[4][0]

'Java'